<%- include('partials/header'); -%>

<section class="tasks">
    <div class="new-task">
        <form action="/add" method="POST">
            <h2>New Task</h2>
            <div class="row">
                <input class="task-field" type="text" name="task" required>
                <button type="submit" class="main-btn">Add Task</button>
            </div>
        </form>
    </div>
    <div class="content">
        <% if (taskList.length>0) { %>
            <% taskList.forEach( task => { %>
                <div class="task-card">
                    <div>
                        <p class="task-item <% if(task.isDone) { %> done <% } %>"><%= task.taskContent %></p>
                    </div>
                    <div class="btns">
                        <a class="btn" href="/edit/<%= task._id %>"><i class="fa-solid fa-pen-to-square"></i></a>
                        <form action="/done" method="POST">
                            <input type="hidden" value= "<%= task._id %>" name= "taskId">
                            <button class="btn" type="submit"><i class="fa-solid fa-check"></i></button>
                        </form>
                        <form action="/delete" method="POST">
                            <input type="hidden" value= "<%= task._id %>" name= "taskId">
                            <button class="btn" type="submit"><i class="fa-solid fa-trash"></i></button>
                        </form>
                    </div>
                </div>
            <% }) %>
        <% } %>
    </div>
</section>


<%- include('partials/footer'); -%>